#logo{
	height: 200px;
	width: auto;
}

#links{
	list-style-type: none;
}

#links > li{
	display: inline;
	padding-left: 30px;
	font-size: 30px;
}

#links > a{
	color: green;
}

#homeImage{
	float: left;
	padding-right: 30px;
	padding-bottom: 10px;
}

#parkInfo{
	display: inline-block;
}

#parkName{
	padding-top: 10px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: white;
}

.main-section{
	background-color: #426bf4;
	padding: 30px;
}

#forecast-image{
	width: 100px;
	height: auto;
}

table{
    border: 1px solid white;
    table-layout: fixed;
    width: 1000px;
   	margin-left: auto;
   	margin-right: auto;
}

td{
	text-align: center;
}

#detailImage{
	width: 50%;
	height: auto;
	margin: auto;
    padding: 10px;
    
}

#parkState{
	font-size: 20px;
}af

#quote{
	color: white;
	font-style: italic;
	font-size: 18px;
}
#detailDescription{
	font-size: 18px;
}
#changeTemp{
	text-align: center;
}

#fun{
	font-size: 30px;
}

.error {
	color: red;
}

#surveyImage{
	width: 100%;
	height: auto;
}

h2{
	text-align: center;
}















