body{
	margin: 0px;
}

#logo{
	height: 300px;
	width: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

h1{
	color: #fbbc2f;
	font-family: "Helvetica";
	font-size: 100px;
	font-weight: 400;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	margin-bottom: 0;
}

h3{
	color: #fbbc2f;
	font-family: "Helvetica";
}

h1:hover{
	color: white;
}

#links{
	list-style-type: none;
}

#links > li{
	display: inline;
	font-size: 30px;
}

#homeImage{
	background-color: #122653;
	border-style: solid;
	border-width: 5px;
	width: 600px;
	height: auto;
	float: left;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	margin-right: 100px;
}

#parkInfo{
	display: inline-block;
	padding-bottom: 50px;
	color: #122653;
}

#parkName{
	padding-top: 10px;
	font-size: 40px;
	text-align: center;
	color: #122653;
	font-family: "Arial";
}

#parkDetailName{
	font-size: 40px;
	text-align: center;
	color: #122653;
	font-family: "Arial";
}

.main-section{
	background-color: #ffe465;
	padding-right: 90px;
	padding-left: 90px;
	padding-top: 50px;
	
}

#forecast-image{
	width: 100px;
	height: auto;
}

table{
	border-collapse: collapse;
    table-layout: fixed;
    width: 1000px;
   	margin-left: auto;
   	margin-right: auto;
}

th, td{
	text-align: center;
	border-right: solid 1px white; 
  	border-left: solid 1px white;
  	padding-right: 5px;
  	padding-left: 5px;
}

th{
	padding-bottom: 20px;
}

td{
	vertical-align: top;
}

#detailImage{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 50%;
	height: auto;
    padding: 10px;
    padding: 2px;
}

#parkState{
	font-size: 20px;
	text-align: center;
	font-family: "Verdana";
	color: #122653;
}

#quote{
	color: #122653;
	font-style: italic;
	font-size: 18px;
	text-align: center;
}

#parkDescription{
	font-size: 17px;
	text-align: center;
	font-family: "Verdana";
	color: #122653;
}

#detailDescription{
	font-size: 18px;
	font-family: "Verdana";
	text-align: center;
	color: #122653;
}
#changeTemp{
	text-align: center;
	font: 10px;
}

#fun{
	font-size: 30px;
}

.error {
	color: red;
}

#surveyImage{
	width: 100%;
	height: auto;
}

h2{
	text-align: center;
	color: #122653;
}

#header{
	text-align: center;
	background-color: #122653;
	padding-top: 10px;
	padding-bottom: 10px;
}

#navbar{
	text-align: center;
	background-color: #122653;
	margin: 10px;
}

#navbar li{
	padding-right:20px;
}

a{
	font-size: 20px;
}

a, a:active, a:visited{ 
	color: white; 
	font-family: "Verdana";
}

a:hover{
	color: #fbbc2f;
}

#parkDetailTable{
	color: #122653;
	font-family: "Arial";
}

#fiveday{
	text-align: center;
	font-size: 30px;
	font-family: "Arial";
	color: #122653;
}

#fiveDayTable{
	color: #122653;
	font-family: "Verdana";
}

#surveyTitle{
	color: #122653;
	font-size: 40px;
	font-family: "Verdana";
	text-align: center;
}

#surveyInput{
	text-align: center;
	color: #122653;
	font-family: "Verdana";
	font-size: 18px;
}

.surveyTable{
	color: #122653;
	font-family: "Verdana";
	font-size: 22px;
}

